h1, h2, h3, h4, p, li{
    font-family: sans-serif;
}
h1{
    color:#00eaffbe;
    font-size:26px;
    text-transform: capitalize;
    font-style: italic;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 30px;
    color: rgba(0, 0, 251, 0.4);
}

h4{
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
}

p{
    font-size: 22px;
    line-height: 1.25;  
}

li{
    font-size: 18px;
    font-weight: 200;
}

#copyright{
    font-size: 10px;
}

#author{
    font-style: italic;
    font-size: 18px;
}

.related-author{
    font-weight: bold;
    font-size: 18px;
}

header{
    background-color: hsl(0, 0%, 97%);
}

aside{
    background-color: #f8f8f8a5;
    border-top: 5px solid #1098ad;
    border-left: 5px solid #1098ad;
    border-right: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
}